#logo-div{
    height: 60%;
    display: flex;
    align-items: center; // vertical
    justify-content: center; // horizontal
    
    h3{
        text-align: center;
    }
    
    img{
        height: 12rem;
    }
}