<ion-header>
  <ion-toolbar>
    <ion-title class="title">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <form [formGroup]="form">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Primeiro valor</ion-label>
        <ion-input formControlName="valor1" type="number" inputMode="numeric" min="0"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Operação</ion-label>
        <ion-select formControlName="operacao" placeholder="Selecionar">
          <ion-select-option value="adicao">Adição</ion-select-option>
          <ion-select-option value="subtracao">Subtração</ion-select-option>
          <ion-select-option value="multiplicacao">Multiplicação</ion-select-option>
          <ion-select-option value="divisao">Divisão</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="mt-1">
        <ion-label position="stacked">Segundo valor</ion-label>
        <ion-input formControlName="valor2" type="number" inputMode="numeric" min="0"></ion-input>
      </ion-item><br>
    </ion-list><br>

    <ion-button id="calculo" [disabled]="form.invalid" expand="block" (click)="calcular()">Calcular Já!</ion-button>

    <p id="resultado" class="ion-text-center"><ion-badge color="primary">{{resultado}}</ion-badge></p>
  </form>
</ion-content>
