<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item><br/>

  <dash-card
    tipo = "receber"
    valor = {{conta.receber.valor}}
    num = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    tipo = "pagar"
    valor = {{conta.pagar.valor}}
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    tipo = "saldo"
    valor = {{conta.saldo.valor}}
    num = {{conta.saldo.num}}
  ></dash-card>

  <div id="btnMenu">
    <ion-button fill="clear" [routerLink]="['/contas/pagar']" expand="block">Contas a Pagar</ion-button>
    <ion-button fill="clear" [routerLink]="['/contas/receber']" expand="block">Contas a Receber</ion-button>
  </div>
</ion-content>